<p [style]="estilos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, placeat facilis. Est ipsam corrupti a sequi fugiat soluta dolore quis, necessitatibus perferendis architecto voluptas, minus eum repudiandae quo atque tempore?</p>

<p [style.font-size.px]="20">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum ut ducimus, deleniti libero ipsa dolorum iure! Ducimus ea, nam iusto ad laudantium minima officia expedita. Quae quidem cum voluptate fugit?</p>

<p [class]="{rojo: false, verde: false, lila: true}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur a ipsa tempore sapiente blanditiis ipsam beatae repellendus modi vero, ea, veniam, similique animi ut aperiam veritatis perspiciatis non. A, sed.</p>