* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.galeria {
  max-width: 500px;
  margin-bottom: 50px;
  border: 2px solid grey;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  figcaption {
    margin: 10px 0;
}

  button {
    width: 50%;
    padding: 10px;
  }

}
