<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <title>Blog</title>
</head>
<body>

</body>
</html>

<header class="header">
  <div class="wrapper">
    <div class="nav-box">
      <div class="logo">Voyagers</div>
      <nav class="nav" >
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a href="#">About</a></li>
          <li class="contact"><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="voyagers">
      <div>
        <app-slides></app-slides>
      </div>
    </div>
    </div>
    

  
  
</header>

<div class="content">

  <div>
    <app-articulos (articleEmmited)="getDataArticulos($event)"></app-articulos>
  </div>

  <div>
    <app-lista-articulos [articulos]="listaArticulos"></app-lista-articulos>
  </div>


</div>

<router-outlet></router-outlet>