<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
</head>
<body>

</body>
</html>

<header class="header">
  <div class="wrapper">
    <div class="nav-box">
      <div class="logo">Voyagers</div>
      <nav class="nav" >
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
          <li class="contact"><a href="#">Contact</a></li>
        </ul>
      </nav>

    </div>
  </div>
</header>

<div class="content">

  <div>
    <app-articulos (articleEmmited)="getDataArticulos($event)"></app-articulos>
  </div>

  <div>
  <section>
    <app-lista-articulos [articulos]="listaArticulos"></app-lista-articulos>
  </section>
  </div>

</div>

