<section class="series">
    <h2>En ocasiones veo series</h2>
    <hr>
    <select (change)="capturarCategoria($event)">
        <option value="">Selecciona una categoría: </option>
        @for(categoria of categorias; track categoria){
            <option value="{{ categoria }}">{{categoria}}</option>
        }

        <!-- de otra manera sin hacer for -->
        <!-- <option value="Ficción">Ciencia Ficción</option>
        <option value="Drama">Drama</option>
        <option value="Misterio">Misterio</option>
        <option value="Terror">Terror</option> -->
    </select>

    <div class="flex">

        @for(serie of series; track serie.id; let i = $index){
        <article class="serie">
            <figure>
                <img [src]="serie.poster" [alt]="serie.title">
            </figure>
            <h3>{{i}} - {{ serie.title }}</h3>
            <p>{{ serie.director }}</p>
            <p>{{ serie.categoria }}</p>
        </article>
    }@empty {
        <h2>no hay resultados, no tenemos series con esos datos.</h2>
    }                       

    </div>
</section>