<header>
  <h1>Actividad productos</h1>
</header>

<main>

  <aside>
    <!--formulario-->
    <app-formulario-productos (sendProduct)="getDataForm($event)"></app-formulario-productos>
  </aside>

  <div class="content">
    <section>
      <!--lista productos-->
      <app-lista-productos [products]="listaProductos"></app-lista-productos>
    </section>

    <section>
      <!-- total-->
      <app-total-productos [products]="listaProductos"></app-total-productos>
    </section>

  </div>

</main>
