@if(isLoading === true){
<div class="text-center mt-5">
  <img src="./images/skeleton.gif" alt="">
</div>
}
@if(isLoading === false){
<section class="container py-4">
  <div class="row">
    <figure class="col-12 col-md-3">
      <img class="img-fluid" [src]="elPersonaje.image" [alt]="elPersonaje.name">
    </figure>
    <div class="col-12 col-md-9">
      <h1 class="text-white">{{elPersonaje.name}}</h1>
      <hr class="border-white">
      <p class="text-warning">{{elPersonaje.race}}</p>
      <p class="text-warning">{{elPersonaje.gender}}</p>
      <p class="text-warning">{{elPersonaje.ki}}</p>
      <p class="text-warning">{{elPersonaje.maxKi}}</p>
      <p class="text-warning">{{elPersonaje.affiliation}}</p>
      <p class="text-warning">{{elPersonaje.description}}</p>
    </div>
  </div>
</section>
}
