<div class="wrapper">
  <h2 class="title-articulo">Añade un artículo al blog</h2>
  <div class="form-container">
    <aside class="content">
      <div class="content-title">
        <label for="title"></label>
        <input id="title" type="text" placeholder="introduce el título" [(ngModel)]="newArticle.title">
      </div>
      <form #articleForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="texto-form">
          <label for="text"></label>
          <textarea id="text" placeholder="Introduce el texto" [(ngModel)]="newArticle.text" name="text" required></textarea>
        </div>
      
        <div class="choose-image-date">
          <div class="imagen-form">
            <label for="file"></label>
            <input id="file" type="file" (change)="onImageChange($event)" accept="image/*" required>
            <img *ngIf="newArticle.url" [src]="newArticle.url" alt="Vista previa">
          </div>
      
          <div class="date-form">
            <label for="date"></label>
            <input id="date" type="date" placeholder="Introduce la fecha" [(ngModel)]="newArticle.date" name="date" required>
          </div>
        </div>
    
      </form>
      
      
      <button type="submit" [disabled]="articleForm.invalid" (click)="getArticulo()">Guardar</button>
    </aside>

    <div class="preview-content">
      <div>
        <h2>{{ newArticle.title || '' }}</h2>
        <p class="date-title" *ngIf="newArticle.date">{{ newArticle.date }}</p>
        <img *ngIf="newArticle.url" [src]="newArticle.url" class="preview-image" alt="Vista previa de la imagen">
        <p class="content-preview">{{ newArticle.text || 'Vista previa del contenido...' }}</p>
       
        
      </div>
    </div>
    
  </div>
</div>
