:root{
    --color-primary: #000;
    --color-secondary: #333;
    --color-terciary: #444;

}

body {
    background-image: url();
}

h1 {
    color: purple;
}

p {
    background-color: var(--color-primary);
    color: blue;
}

/*nesting css */
.mi-div {
    .hightlight {
        background-color: green;
        &:hover {
        background-color: blueviolet;
        }
    }
}
/* selector clases */
.caja-texto {
    /* propiedades caja */
    background-color: rgb(61, 192, 253);
    padding: 10px;
    border: 5px solid black;
    margin: 20px; 

    /* propiedades de texto*/
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: left;    
} 

.caja {
    font-size: 2rem;
    padding: 12px;
    --color-box: rgb(114, 192, 237);
    background-color: var(--color-box);
}

.caja1 {
    --fondo-caja: rgb(248, 245, 139);
}
.caja2 {
    --fondo-caja: rgb(242, 126, 126);
}
.caja3 {
    --fondo-caja: rgb(134, 213, 255);
}