*{
  font-family: 'Poppins';
}

.header {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding-bottom: 20px;
}

.nav ul{
  display: flex;
  list-style: none;
}

.nav li {
  padding: 10px;
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #000;
}

